:root{
    --green-blue: #34c5ab;
    --secondary-green: #19b1a4;
    --primary-blue: #02a4c5;
    --page-eggshell: #ffffff;
    --steel-blue: #23697f;
}

body{
    background-color: var(--page-eggshell)
}

.control{
    width: -webkit-fill-available;
}