:root{
    --blue-purple: #4534c5;
    --secondary-blue: #2929d1;
    --primary-blue: #02a4c5;
    --page-eggshell: #ffffff;
    --steel-purple: #5c577d;
}

body{
    background-color: var(--page-eggshell)
}

.control{
    width: -webkit-fill-available;
}