{% extends 'base.html.j2' %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <h1 class="title">Log in</h1>
    <form action="{{url_for('auth.login')}}" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{form.email.label(class="label")}}
            {{form.email(class="control")}}
            {% for error in form.email.errors %}
                <small style="color:red;">{{error}}</small>
            {% endfor %}
        </div>
        <br>
        <div>
            {{form.password.label(class="label")}}
            {{form.password(class="control")}}
            {% for error in form.password.errors %}
                <small style="color:red;">{{error}}</small>
            {% endfor %}
        </div>
        <br>
            {{form.submit(class="control button is-info")}}
            <br>
            <small style="color:red;">{{error}}</small>
    </form>

{% endblock %}